body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='2000' preserveAspectRatio='none' viewBox='0 0 1440 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1796%26quot%3b)' fill='none'%3e%3crect width='1440' height='2000' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cg mask='url(%26quot%3b%23SvgjsMask1798%26quot%3b)'%3e%3cpath d='M43.5 1000.5L72.5 1029.5L101.5 1029.5L130.5 1029.5M-14.5 1000.5L14.5 1000.5L43.5 1000.5L72.5 1000.5L101.5 1000.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M94.25 1000.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM123.25 1029.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M478.5 971.5L507.5 942.5L536.5 942.5L565.5 942.5M362.5 971.5L391.5 942.5L420.5 942.5L449.5 942.5L478.5 942.5M159.5 971.5L188.5 942.5L217.5 942.5L246.5 942.5L275.5 942.5M507.5 971.5L536.5 1000.5L565.5 1000.5M333.5 971.5L362.5 1000.5L391.5 1000.5L420.5 1000.5L449.5 1000.5M-14.5 971.5L14.5 971.5L43.5 971.5L72.5 971.5L101.5 971.5L130.5 971.5L159.5 971.5L188.5 971.5L217.5 971.5L246.5 971.5L275.5 971.5L304.5 971.5L333.5 971.5L362.5 971.5L391.5 971.5L420.5 971.5L449.5 971.5L478.5 971.5L507.5 971.5L536.5 971.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M529.25 971.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM558.25 942.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM471.25 942.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM268.25 942.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM558.25 1000.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM442.25 1000.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M-14.5 942.5L14.5 942.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M7.25 942.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M217.5 1087.5L246.5 1058.5L275.5 1058.5M391.5 1087.5L420.5 1116.5M362.5 1087.5L391.5 1116.5M449.5 1087.5L478.5 1058.5L507.5 1058.5M-14.5 1058.5L14.5 1058.5L43.5 1087.5L72.5 1087.5L101.5 1087.5L130.5 1087.5L159.5 1087.5L188.5 1087.5L217.5 1087.5L246.5 1087.5L275.5 1087.5L304.5 1087.5L333.5 1087.5L362.5 1087.5L391.5 1087.5L420.5 1087.5L449.5 1087.5L478.5 1087.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M471.25 1087.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM268.25 1058.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM413.25 1116.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM384.25 1116.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM500.25 1058.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M304.5 913.5L333.5 942.5L362.5 942.5L391.5 913.5L420.5 913.5M101.5 913.5L130.5 942.5L159.5 942.5M43.5 913.5L72.5 942.5L101.5 942.5M-14.5 913.5L14.5 913.5L43.5 913.5L72.5 913.5L101.5 913.5L130.5 913.5L159.5 913.5L188.5 913.5L217.5 913.5L246.5 913.5L275.5 913.5L304.5 913.5L333.5 913.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M326.25 913.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM413.25 913.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM152.25 942.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM94.25 942.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M246.5 1116.5L275.5 1145.5L304.5 1145.5M159.5 1116.5L188.5 1145.5L217.5 1145.5L246.5 1145.5M130.5 1116.5L159.5 1145.5M-14.5 1087.5L14.5 1087.5L43.5 1116.5L72.5 1116.5L101.5 1116.5L130.5 1116.5L159.5 1116.5L188.5 1116.5L217.5 1116.5L246.5 1116.5L275.5 1116.5L304.5 1116.5L333.5 1116.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M326.25 1116.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM297.25 1145.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM239.25 1145.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM152.25 1145.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M420.5 884.5L449.5 855.5M507.5 884.5L536.5 913.5L565.5 913.5L594.5 913.5M362.5 884.5L391.5 855.5L420.5 855.5L449.5 826.5L478.5 826.5L507.5 855.5L536.5 855.5L565.5 855.5L594.5 855.5M101.5 884.5L130.5 855.5L159.5 855.5L188.5 855.5L217.5 855.5L246.5 855.5L275.5 855.5M449.5 884.5L478.5 913.5L507.5 913.5M-14.5 884.5L14.5 884.5L43.5 884.5L72.5 884.5L101.5 884.5L130.5 884.5L159.5 884.5L188.5 884.5L217.5 884.5L246.5 884.5L275.5 884.5L304.5 884.5L333.5 884.5L362.5 884.5L391.5 884.5L420.5 884.5L449.5 884.5L478.5 884.5L507.5 884.5L536.5 884.5L565.5 884.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M558.25 884.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM442.25 855.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM587.25 913.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM587.25 855.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM268.25 855.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM500.25 913.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M-14.5 1116.5L14.5 1145.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M7.25 1145.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M478.5 768.5L507.5 797.5L536.5 797.5M449.5 768.5L478.5 797.5M333.5 826.5L362.5 826.5L391.5 826.5L420.5 826.5M304.5 826.5L333.5 855.5L362.5 855.5M565.5 768.5L594.5 797.5L623.5 826.5L652.5 826.5L681.5 826.5L710.5 826.5M43.5 826.5L72.5 855.5M-14.5 855.5L14.5 826.5L43.5 826.5L72.5 826.5L101.5 826.5L130.5 826.5L159.5 826.5L188.5 826.5L217.5 826.5L246.5 826.5L275.5 826.5L304.5 826.5L333.5 826.5L362.5 797.5L391.5 797.5L420.5 797.5L449.5 768.5L478.5 768.5L507.5 768.5L536.5 768.5L565.5 768.5L594.5 768.5L623.5 797.5L652.5 797.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M645.25 797.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM529.25 797.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM471.25 797.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM413.25 826.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM355.25 855.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM703.25 826.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM65.25 855.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M362.5 1174.5L391.5 1203.5L420.5 1203.5L449.5 1203.5L478.5 1203.5L507.5 1203.5L536.5 1203.5M333.5 1174.5L362.5 1145.5L391.5 1145.5M275.5 1174.5L304.5 1203.5M217.5 1174.5L246.5 1203.5L275.5 1203.5L304.5 1232.5L333.5 1232.5L362.5 1232.5M449.5 1116.5L478.5 1145.5L507.5 1145.5L536.5 1145.5L565.5 1174.5L594.5 1174.5L623.5 1203.5L652.5 1203.5M-14.5 1145.5L14.5 1174.5L43.5 1174.5L72.5 1174.5L101.5 1174.5L130.5 1174.5L159.5 1174.5L188.5 1174.5L217.5 1174.5L246.5 1174.5L275.5 1174.5L304.5 1174.5L333.5 1174.5L362.5 1174.5L391.5 1174.5L420.5 1145.5L449.5 1116.5L478.5 1116.5L507.5 1116.5L536.5 1116.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M529.25 1116.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM529.25 1203.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM384.25 1145.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM297.25 1203.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM355.25 1232.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM645.25 1203.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M43.5 797.5L72.5 768.5M188.5 797.5L217.5 797.5L246.5 797.5M-14.5 826.5L14.5 797.5L43.5 797.5L72.5 797.5L101.5 797.5L130.5 797.5L159.5 797.5L188.5 797.5L217.5 768.5L246.5 768.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M239.25 768.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM65.25 768.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM239.25 797.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M507.5 1290.5L536.5 1261.5L565.5 1261.5L594.5 1261.5L623.5 1261.5M478.5 1290.5L507.5 1261.5M391.5 1261.5L420.5 1232.5L449.5 1232.5M188.5 1232.5L217.5 1232.5L246.5 1232.5M449.5 1261.5L478.5 1261.5L507.5 1232.5M-14.5 1174.5L14.5 1203.5L43.5 1203.5L72.5 1203.5L101.5 1203.5L130.5 1203.5L159.5 1203.5L188.5 1232.5L217.5 1261.5L246.5 1261.5L275.5 1261.5L304.5 1261.5L333.5 1261.5L362.5 1261.5L391.5 1261.5L420.5 1261.5L449.5 1261.5L478.5 1290.5L507.5 1290.5L536.5 1290.5L565.5 1290.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M558.25 1290.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM616.25 1261.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM500.25 1261.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM442.25 1232.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM239.25 1232.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM500.25 1232.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M-14.5 797.5L14.5 768.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M7.25 768.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M-14.5 1203.5L14.5 1232.5L43.5 1232.5L72.5 1232.5L101.5 1232.5L130.5 1232.5L159.5 1232.5L188.5 1261.5L217.5 1290.5L246.5 1290.5L275.5 1290.5L304.5 1290.5L333.5 1290.5L362.5 1290.5L391.5 1290.5L420.5 1290.5L449.5 1290.5L478.5 1319.5L507.5 1319.5L536.5 1319.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M529.25 1319.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M536.5 739.5L565.5 739.5L594.5 739.5L623.5 739.5L652.5 710.5M362.5 710.5L391.5 710.5L420.5 710.5M391.5 739.5L420.5 768.5M333.5 710.5L362.5 739.5L391.5 768.5M304.5 710.5L333.5 739.5L362.5 768.5M-14.5 768.5L14.5 739.5L43.5 739.5L72.5 739.5L101.5 768.5L130.5 768.5L159.5 768.5L188.5 768.5L217.5 739.5L246.5 739.5L275.5 739.5L304.5 710.5L333.5 710.5L362.5 710.5L391.5 739.5L420.5 739.5L449.5 739.5L478.5 739.5L507.5 739.5L536.5 739.5L565.5 710.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M558.25 710.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM645.25 710.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM413.25 710.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM413.25 768.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM384.25 768.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM355.25 768.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M362.5 1319.5L391.5 1348.5M304.5 1319.5L333.5 1348.5L362.5 1348.5M565.5 1348.5L594.5 1319.5L623.5 1319.5L652.5 1319.5L681.5 1290.5L710.5 1290.5M652.5 1348.5L681.5 1377.5L710.5 1377.5M420.5 1319.5L449.5 1348.5L478.5 1377.5M623.5 1348.5L652.5 1377.5L681.5 1406.5L710.5 1406.5M-14.5 1232.5L14.5 1261.5L43.5 1261.5L72.5 1261.5L101.5 1261.5L130.5 1261.5L159.5 1261.5L188.5 1290.5L217.5 1319.5L246.5 1319.5L275.5 1319.5L304.5 1319.5L333.5 1319.5L362.5 1319.5L391.5 1319.5L420.5 1319.5L449.5 1319.5L478.5 1348.5L507.5 1348.5L536.5 1348.5L565.5 1348.5L594.5 1348.5L623.5 1348.5L652.5 1348.5L681.5 1348.5L710.5 1348.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M703.25 1348.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM384.25 1348.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM355.25 1348.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM703.25 1290.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM703.25 1377.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM471.25 1377.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM703.25 1406.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M159.5 710.5L188.5 739.5M101.5 710.5L130.5 739.5L159.5 739.5M449.5 681.5L478.5 652.5L507.5 652.5M420.5 681.5L449.5 652.5M-14.5 739.5L14.5 710.5L43.5 710.5L72.5 710.5L101.5 710.5L130.5 710.5L159.5 710.5L188.5 710.5L217.5 710.5L246.5 710.5L275.5 710.5L304.5 681.5L333.5 681.5L362.5 681.5L391.5 681.5L420.5 681.5L449.5 681.5L478.5 681.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M471.25 681.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM181.25 739.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM152.25 739.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM500.25 652.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM442.25 652.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M-14.5 1261.5L14.5 1290.5L43.5 1290.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M36.25 1290.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M130.5 681.5L159.5 652.5L188.5 652.5L217.5 652.5M101.5 681.5L130.5 652.5M-14.5 710.5L14.5 681.5L43.5 681.5L72.5 681.5L101.5 681.5L130.5 681.5L159.5 681.5L188.5 681.5L217.5 681.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M210.25 681.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM210.25 652.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM123.25 652.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M130.5 1319.5L159.5 1348.5L188.5 1348.5M72.5 1319.5L101.5 1290.5L130.5 1290.5L159.5 1290.5M101.5 1319.5L130.5 1348.5M-14.5 1290.5L14.5 1319.5L43.5 1319.5L72.5 1319.5L101.5 1319.5L130.5 1319.5L159.5 1319.5L188.5 1319.5L217.5 1348.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M210.25 1348.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM181.25 1348.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM152.25 1290.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM123.25 1348.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M-14.5 681.5L14.5 652.5L43.5 652.5L72.5 652.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M65.25 652.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M-14.5 1319.5L14.5 1348.5L43.5 1348.5L72.5 1348.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M65.25 1348.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M275.5 623.5L304.5 652.5L333.5 652.5M333.5 623.5L362.5 623.5L391.5 623.5M246.5 623.5L275.5 652.5M-14.5 652.5L14.5 623.5L43.5 623.5L72.5 623.5L101.5 623.5L130.5 623.5L159.5 623.5L188.5 623.5L217.5 623.5L246.5 623.5L275.5 623.5L304.5 623.5L333.5 623.5L362.5 652.5L391.5 652.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M384.25 652.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM326.25 652.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM384.25 623.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM268.25 652.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M246.5 1377.5L275.5 1348.5L304.5 1348.5M-14.5 1348.5L14.5 1377.5L43.5 1377.5L72.5 1377.5L101.5 1377.5L130.5 1377.5L159.5 1377.5L188.5 1377.5L217.5 1377.5L246.5 1377.5L275.5 1377.5L304.5 1377.5L333.5 1377.5L362.5 1377.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M355.25 1377.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM297.25 1348.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M507.5 565.5L536.5 594.5L565.5 623.5L594.5 623.5M391.5 565.5L420.5 594.5L449.5 594.5L478.5 594.5L507.5 594.5L536.5 623.5L565.5 652.5M594.5 565.5L623.5 565.5L652.5 565.5L681.5 565.5L710.5 565.5M652.5 594.5L681.5 623.5M362.5 594.5L391.5 594.5M-14.5 623.5L14.5 594.5L43.5 594.5L72.5 594.5L101.5 594.5L130.5 594.5L159.5 594.5L188.5 594.5L217.5 594.5L246.5 594.5L275.5 594.5L304.5 594.5L333.5 594.5L362.5 594.5L391.5 565.5L420.5 565.5L449.5 565.5L478.5 565.5L507.5 565.5L536.5 565.5L565.5 565.5L594.5 565.5L623.5 594.5L652.5 594.5L681.5 594.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M674.25 594.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM587.25 623.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM558.25 652.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM703.25 565.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM674.25 623.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM384.25 594.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M478.5 1435.5L507.5 1435.5L536.5 1435.5L565.5 1435.5L594.5 1435.5M159.5 1406.5L188.5 1435.5L217.5 1435.5L246.5 1435.5L275.5 1435.5M333.5 1406.5L362.5 1435.5L391.5 1464.5L420.5 1464.5M449.5 1435.5L478.5 1406.5M-14.5 1377.5L14.5 1406.5L43.5 1406.5L72.5 1406.5L101.5 1406.5L130.5 1406.5L159.5 1406.5L188.5 1406.5L217.5 1406.5L246.5 1406.5L275.5 1406.5L304.5 1406.5L333.5 1406.5L362.5 1406.5L391.5 1435.5L420.5 1435.5L449.5 1435.5L478.5 1435.5L507.5 1406.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M500.25 1406.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM587.25 1435.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM268.25 1435.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM413.25 1464.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM471.25 1406.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M101.5 565.5L130.5 536.5L159.5 536.5L188.5 536.5M362.5 536.5L391.5 507.5L420.5 507.5L449.5 507.5L478.5 507.5L507.5 507.5L536.5 507.5L565.5 507.5L594.5 507.5M246.5 565.5L275.5 536.5L304.5 536.5L333.5 536.5L362.5 507.5M72.5 565.5L101.5 536.5L130.5 507.5L159.5 507.5L188.5 507.5L217.5 507.5L246.5 507.5M217.5 565.5L246.5 536.5M333.5 565.5L362.5 565.5M-14.5 594.5L14.5 565.5L43.5 565.5L72.5 565.5L101.5 565.5L130.5 565.5L159.5 565.5L188.5 565.5L217.5 565.5L246.5 565.5L275.5 565.5L304.5 565.5L333.5 565.5L362.5 536.5L391.5 536.5L420.5 536.5L449.5 536.5L478.5 536.5L507.5 536.5L536.5 536.5L565.5 536.5L594.5 536.5L623.5 536.5L652.5 536.5L681.5 536.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M674.25 536.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM181.25 536.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM587.25 507.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM355.25 507.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM239.25 507.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM239.25 536.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM355.25 565.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M-14.5 1406.5L14.5 1435.5L43.5 1435.5L72.5 1435.5L101.5 1435.5L130.5 1435.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M123.25 1435.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M14.5 536.5L43.5 536.5L72.5 536.5M-14.5 565.5L14.5 536.5L43.5 507.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M36.25 507.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM65.25 536.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M-14.5 1435.5L14.5 1464.5L43.5 1464.5L72.5 1464.5L101.5 1464.5L130.5 1464.5L159.5 1464.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M152.25 1464.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M-14.5 536.5L14.5 507.5L43.5 478.5L72.5 478.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M65.25 478.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M333.5 1493.5L362.5 1464.5M449.5 1522.5L478.5 1551.5L507.5 1551.5M246.5 1493.5L275.5 1522.5L304.5 1522.5L333.5 1522.5L362.5 1522.5L391.5 1522.5L420.5 1522.5M43.5 1493.5L72.5 1522.5L101.5 1522.5L130.5 1522.5L159.5 1551.5M-14.5 1464.5L14.5 1493.5L43.5 1493.5L72.5 1493.5L101.5 1493.5L130.5 1493.5L159.5 1493.5L188.5 1493.5L217.5 1493.5L246.5 1493.5L275.5 1493.5L304.5 1493.5L333.5 1493.5L362.5 1493.5L391.5 1493.5L420.5 1493.5L449.5 1522.5L478.5 1522.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M471.25 1522.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM355.25 1464.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM500.25 1551.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM413.25 1522.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM152.25 1551.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3cpath d='M217.5 449.5L246.5 478.5L275.5 478.5L304.5 478.5L333.5 478.5L362.5 478.5L391.5 449.5L420.5 449.5L449.5 449.5M449.5 420.5L478.5 391.5L507.5 391.5L536.5 391.5M420.5 420.5L449.5 391.5M536.5 420.5L565.5 420.5L594.5 420.5L623.5 420.5L652.5 420.5L681.5 420.5L710.5 420.5M43.5 449.5L72.5 420.5L101.5 420.5L130.5 420.5L159.5 420.5M188.5 449.5L217.5 420.5L246.5 420.5L275.5 420.5M-14.5 507.5L14.5 478.5L43.5 449.5L72.5 449.5L101.5 449.5L130.5 449.5L159.5 449.5L188.5 449.5L217.5 449.5L246.5 449.5L275.5 449.5L304.5 449.5L333.5 449.5L362.5 420.5L391.5 420.5L420.5 420.5L449.5 420.5L478.5 420.5L507.5 420.5L536.5 420.5L565.5 391.5L594.5 391.5L623.5 391.5L652.5 391.5L681.5 391.5' stroke='url(%23SvgjsLinearGradient1797)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M674.25 391.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM442.25 449.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM529.25 391.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM442.25 391.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM703.25 420.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM152.25 420.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM268.25 420.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1796'%3e%3crect width='1440' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0' y1='1000' x2='763.2' y2='1000' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1797'%3e%3cstop stop-color='%233a7cc3' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(221%2c 198%2c 17%2c 1)' offset='0.32'%3e%3c/stop%3e%3cstop stop-color='rgba(23%2c 221%2c 17%2c 1)' offset='0.65'%3e%3c/stop%3e%3cstop stop-color='rgba(221%2c 17%2c 51%2c 1)' offset='0.94'%3e%3c/stop%3e%3c/linearGradient%3e%3cmask id='SvgjsMask1798'%3e%3crect width='1440' height='2000' fill='white'%3e%3c/rect%3e%3cpath d='M97.87 1000.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM126.87 1029.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M532.87 971.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM561.87 942.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM474.87 942.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM271.87 942.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM561.87 1000.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM445.87 1000.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M10.87 942.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M474.87 1087.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM271.87 1058.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM416.87 1116.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM387.87 1116.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM503.87 1058.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M329.87 913.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM416.87 913.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM155.87 942.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM97.87 942.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M329.87 1116.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM300.87 1145.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM242.87 1145.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM155.87 1145.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M561.87 884.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM445.87 855.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM590.87 913.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM590.87 855.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM271.87 855.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM503.87 913.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M10.87 1145.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M648.87 797.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM532.87 797.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM474.87 797.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM416.87 826.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM358.87 855.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM706.87 826.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM68.87 855.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M532.87 1116.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM532.87 1203.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM387.87 1145.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM300.87 1203.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM358.87 1232.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM648.87 1203.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M242.87 768.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM68.87 768.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM242.87 797.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M561.87 1290.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM619.87 1261.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM503.87 1261.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM445.87 1232.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM242.87 1232.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM503.87 1232.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M10.87 768.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M532.87 1319.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M561.87 710.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM648.87 710.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM416.87 710.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM416.87 768.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM387.87 768.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM358.87 768.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M706.87 1348.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM387.87 1348.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM358.87 1348.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM706.87 1290.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM706.87 1377.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM474.87 1377.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM706.87 1406.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M474.87 681.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM184.87 739.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM155.87 739.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM503.87 652.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM445.87 652.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M39.87 1290.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M213.87 681.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM213.87 652.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM126.87 652.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M213.87 1348.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM184.87 1348.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM155.87 1290.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM126.87 1348.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M68.87 652.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M68.87 1348.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M387.87 652.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM329.87 652.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM387.87 623.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM271.87 652.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M358.87 1377.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM300.87 1348.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M677.87 594.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM590.87 623.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM561.87 652.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM706.87 565.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM677.87 623.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM387.87 594.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M503.87 1406.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM590.87 1435.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM271.87 1435.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM416.87 1464.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM474.87 1406.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M677.87 536.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM184.87 536.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM590.87 507.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM358.87 507.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM242.87 507.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM242.87 536.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM358.87 565.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M126.87 1435.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M39.87 507.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM68.87 536.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M155.87 1464.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M68.87 478.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M474.87 1522.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM358.87 1464.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM503.87 1551.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM416.87 1522.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM155.87 1551.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M677.87 391.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM445.87 449.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM532.87 391.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM445.87 391.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM706.87 420.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM155.87 420.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM271.87 420.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

h1,
h2 {
  font-size: 1em;
  margin: 0;
}

a.nostyle,
a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

#linkedin i {
  color: #0a66c2;
}

#linkedin:hover i {
  color: #2186eb;
}

#github i {
  color: rgb(41, 41, 41);
}

#github:hover i {
  color: black;
}

i {
  font-size: 60px;
}

#links {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 100px;
  text-align: center;
}

#links > a > i {
  padding-right: 20px;
}

#name {
  width: 90%;
  height: 150px;
  margin: 0 auto;
  margin-top: 100px;
}

#nameHeader {
  height: 100%;
  line-height: 150px;
  text-align: center;
  font-size: 70px;
  letter-spacing: 2px;
  vertical-align: middle;
  margin: 0;
  font-weight: bold;
}

#icons {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#icons > i {
  padding-right: 20px;
}

#experience {
  background-color: rgb(125, 125, 255);
  animation-delay: 2.8s;
}

#experienceTwo {
  background-color: rgb(158, 36, 62);
  animation-delay: 3.4s;
}

.experience {
  margin-left: auto;
  margin-right: 60%;
  margin-top: 100px;
  padding: 10px 0px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-color: rgb(125, 125, 255);
  color: white;
  text-align: right;
}

.experienceHeader {
  margin: 0;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  letter-spacing: 2px;
  vertical-align: middle;
  display: inline-block;
  font-size: 34px;
  font-weight: normal;
}

.work {
  width: 90%;
  margin: 50px auto;
  max-width: 600px;
  box-shadow: 0 2px 6px 0 hsl(0, 0%, 0%, 0.2);
  background-color: white;
  padding: 25px 50px;
}

.workDiv {
  padding-bottom: 30px;
  font-size: 22px;
  text-align: center;
}

.workTitle {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 30px;
}

.workLocation,
.workTime {
  display: inline-block;
  font-weight: normal;
}

.workHeader {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 50px;
}

.workLocation {
  float: left;
}

.workTime {
  float: right;
}

#workOne {
  border-top: 5px solid rgb(93, 192, 114);
  animation-delay: 3.3s;
  color: rgb(93, 192, 114);
}

#workOneTitle {
  color: rgb(93, 192, 114);
}

#workTwo {
  border-top: 5px solid rgb(125, 125, 255);
  animation-delay: 3.4s;
  color: rgb(125, 125, 255);
}

#workTwoTitle {
  color: rgb(125, 125, 255);
}

#workThree {
  border-top: 5px solid rgb(169, 93, 192);
  margin-top: 75px;
  animation-delay: 3.5s;
  color: rgb(169, 93, 192);
}

#workThreeTitle {
  color: rgb(169, 93, 192);
}

#workFour {
  border-top: 5px solid rgb(158, 36, 62);
  margin-top: 75px;
  animation-delay: 3.7s;
  color: rgb(158, 36, 62);
}

#workFourTitle {
  color: rgb(158, 36, 62);
}

.mL {
  width: 150px;
  height: 3px;
  top: 25px;
  z-index: -2;
  margin: 0 auto;

  position: relative;
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  border-radius: 0px;
  animation-delay: 4.5s;
}

#block1 {
  background-color: rgb(93, 192, 114);
}

#block2 {
  background-color: rgb(125, 125, 255);
}

#block3 {
  background-color: rgb(169, 93, 192);
}

#block4 {
  background-color: rgb(158, 36, 62);
}

@keyframes example {
  0% {
    left: 0px;
    width: 150px;
  }
  25% {
    left: 325px;
    width: 50px;
  }
  50% {
    left: 0px;
    width: 150px;
  }
  75% {
    left: -325px;
    width: 50px;
  }
  100% {
    left: 0px;
  }
}

@keyframes example2 {
  0% {
    left: 0px;
    width: 150px;
  }
  25% {
    left: 275px;
    width: 50px;
  }
  50% {
    left: 0px;
    width: 150px;
  }
  75% {
    left: -275px;
    width: 50px;
  }
  100% {
    left: 0px;
  }
}

@keyframes example3 {
  0% {
    left: 0px;
    width: 150px;
  }
  25% {
    left: 195px;
    width: 50px;
  }
  50% {
    left: 0px;
    width: 150px;
  }
  75% {
    left: -195px;
    width: 50px;
  }
  100% {
    left: 0px;
  }
}

@keyframes example4 {
  0% {
    left: 0px;
    width: 100px;
  }
  25% {
    left: 165px;
    width: 50px;
  }
  50% {
    left: 0px;
    width: 100px;
  }
  75% {
    left: -165px;
    width: 50px;
  }
  100% {
    left: 0px;
  }
}

@keyframes example5 {
  0% {
    left: 0px;
    width: 75px;
  }
  25% {
    left: 128px;
    width: 25px;
  }
  50% {
    left: 0px;
    width: 75px;
  }
  75% {
    left: -128px;
    width: 25px;
  }
  100% {
    left: 0px;
  }
}

@media screen and (max-width: 800px) {
  .work {
    max-width: 500px;
  }

  .mL {
    animation-name: example2;
  }
}

@media screen and (max-width: 650px) {
  .work {
    max-width: 400px;
    padding: 20px 20px;
  }

  #workOne {
    border-top: 4px solid;
  }

  #workTwo {
    border-top: 4px solid;
  }

  #workThree {
    border-top: 4px solid;
  }

  #workFour {
    border-top: 4px solid;
  }

  .workDiv {
    font-size: 18px;
  }

  .workTitle {
    font-size: 24px;
  }

  .workHeader {
    font-size: 22px;
  }

  #nameHeader {
    font-size: 50px;
  }
  .experienceHeader {
    font-size: 22px;
  }

  .mL {
    animation-name: example3;
    top: 20px;
  }
}

@media screen and (max-width: 500px) {
  i {
    font-size: 46px;
  }
  .work {
    max-width: 350px;
    padding: 10px 15px;
  }

  .mL {
    animation-name: example4;
    top: 10px;
    width: 100px;
  }

  #workOne {
    border-top: 3px solid;
  }

  #workTwo {
    border-top: 3px solid;
  }

  #workThree {
    border-top: 3px solid;
  }

  #workFour {
    border-top: 3px solid;
  }
}

@media screen and (max-width: 400px) {
  i {
    font-size: 30px;
  }

  #icons > i {
    padding-right: 15px;
  }

  .experience {
    margin-right: 50%;
  }

  .work {
    max-width: 250px;
  }

  .workDiv {
    font-size: 14px;
  }

  .workTitle {
    font-size: 20px;
  }

  .workHeader {
    font-size: 18px;
  }

  #nameHeader {
    font-size: 35px;
  }
  .experienceHeader {
    font-size: 18px;
  }

  .mL {
    animation-name: example5;
    width: 75px;
  }
}
