body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

a {
  all: unset;
  cursor: pointer;
}

#navbar a {
  text-decoration: none;
}
#github {
  padding-right: 20px;
}
#linkedin {
  padding-left: 20px;
}
.links {
  max-width: 50px;
  max-height: 50px;
}

.section {
  text-align: center;
}

#section1 {
  /* background-color: #22577a; */
  background: linear-gradient(45deg, #870010, #7363ec, #e98822, #23daaf);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  color: #c7f9cc;
  text-align: center;
  /* height: 100%; */
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

#section1 h1 {
  font-size: 72px;
}

#nameDiv {
  min-width: 250px;
  width: 80%;
  margin: 0px auto;
  margin-top: 100px;
  margin-bottom: 25px;
}

#name {
  overflow: visible;
  animation: fill 7s linear forwards infinite;
  max-width: 100%;
}

#name path:nth-child(1) {
  stroke-dasharray: 231;
  stroke-dashoffset: 231;
  animation: lineAnim 7s ease forwards infinite;
  stroke-linecap: square;
}
#name path:nth-child(2) {
  stroke-dasharray: 231;
  stroke-dashoffset: 231;
  animation: lineAnim 7s ease forwards infinite 0.2s;
  stroke-linecap: square;
}

#name path:nth-child(3) {
  stroke-dasharray: 151;
  stroke-dashoffset: 151;
  animation: lineAnim 7s ease forwards infinite 0.4s;
  stroke-linecap: square;
}
#name path:nth-child(4) {
  stroke-dasharray: 262;
  stroke-dashoffset: 262;
  animation: lineAnim 7s ease forwards infinite 0.6s;
  stroke-linecap: square;
}
#name path:nth-child(5) {
  stroke-dasharray: 216;
  stroke-dashoffset: 216;
  animation: lineAnim 7s ease forwards infinite 0.8s;
  stroke-linecap: square;
}
#name path:nth-child(6) {
  stroke-dasharray: 302;
  stroke-dashoffset: 302;
  animation: lineAnim 7s ease forwards infinite 1s;
  stroke-linecap: square;
}

#name path:nth-child(7) {
  stroke-dasharray: 261;
  stroke-dashoffset: 261;
  animation: lineAnim 7s ease forwards infinite 1.2s;
  stroke-linecap: square;
}
#name path:nth-child(8) {
  stroke-dasharray: 374;
  stroke-dashoffset: 374;
  animation: lineAnim 7s ease forwards infinite 1.4s;
  stroke-linecap: square;
}
#name path:nth-child(9) {
  stroke-dasharray: 374;
  stroke-dashoffset: 374;
  animation: lineAnim 7s ease forwards infinite 1.6s;
  stroke-linecap: square;
}
#name path:nth-child(10) {
  stroke-dasharray: 263;
  stroke-dashoffset: 263;
  animation: lineAnim 7s ease forwards infinite 1.8s;
  stroke-linecap: square;
}
#name path:nth-child(11) {
  stroke-dasharray: 263;
  stroke-dashoffset: 263;
  animation: lineAnim 7s ease forwards infinite 2s;
  stroke-linecap: square;
}
#name path:nth-child(12) {
  stroke-dasharray: 263;
  stroke-dashoffset: 263;
  animation: lineAnim 7s ease forwards infinite 2.2s;
  stroke-linecap: square;
}

@keyframes lineAnim {
  0% {
  }
  35% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  0% {
    fill: transparent;
  }
  55% {
    fill: transparent;
  }
  60% {
    fill: #c7f9cc;
  }
  70% {
    fill: #c7f9cc;
  }
  75% {
    fill: transparent;
  }
}

#summary {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  min-width: 1250px;
  font-size: 24px;
  color: #c7f9cc;
  margin: 0 auto;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-weight: bold;
  /* letter-spacing: 3px; */
}

#experience {
  max-height: 350px;
  max-width: 300px;
}

#subwayholder {
  margin: 0 auto;
  width: 100px;
  animation: subwaymove 10s infinite ease-in-out;
}

#subway1 {
  max-height: 100px;
  max-width: 100px;
}

#cutetrain {
  max-height: 50px;
  max-width: 50px;
}

#trainholder {
  margin: 0 auto;
  width: 100px;
  animation: trainmove 8s infinite ease-in-out;
}

@keyframes trainmove {
  0% {
    transform: translate(-150px, 0);
  }
  45% {
    transform: translate(150px, 0);
  }
  55% {
    transform: translate(150px, 0);
  }
  100% {
    transform: translate(-150px, 0);
  }
}

@keyframes subwaymove {
  0% {
    transform: translate(100px, 0);
  }
  10% {
    transform: translate(100px, 0);
  }
  23% {
    transform: translate(-120px, 30px);
  }
  36% {
    transform: translate(-120px, 30px) rotateY(-180deg);
  }
  49% {
    transform: translate(100px, 60px) rotateY(-180deg);
  }
  62% {
    transform: translate(100px, 60px) rotateY(-180deg);
  }
  75% {
    transform: translate(-120px, 30px) rotateY(-180deg);
  }
  88% {
    transform: translate(-120px, 30px) rotateY(0);
  }
  100% {
    transform: translate(100px, 0) rotateY(0);
  }
}

#seattle {
  max-height: 350px;
  max-width: 300px;
}

#college {
  max-height: 350px;
  max-width: 300px;
}

#tasselvector {
  animation: tassel 2s infinite;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes tassel {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(8deg);
  }
  75% {
    transform: rotateZ(-2deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

#LowerElevator {
  animation: goUp 8s infinite 2s;
}

@keyframes goUp {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-270px);
  }
  100% {
    transform: translateY(0px);
  }
}

#UpperElevator {
  animation: goDown 8s infinite;
}

@keyframes goDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(270px);
  }
  100% {
    transform: translateY(0px);
  }
}

#Rectangle1 {
  animation: shake 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#Rectangle2 {
  animation: shake 3s infinite 1s;
  transform-origin: center;
  transform-box: fill-box;
}

#Shadow {
  animation: shakeShadow 3s infinite 1s;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes shake {
  0% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-50px);
  }
}

@keyframes shakeShadow {
  0% {
    transform: translate(20px, -15px);
  }
  25% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(20px, -15px);
  }
}
#fp-nav ul li a span {
  background: white;
}
.fp-slidesNav ul li a span {
  background: white;
}
#VectorSeattle {
  fill: url(#MyGradient);
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));

  max-height: 100%;
}

#myVideo2 {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  max-height: 100%;
}

#section3 {
  background-color: black !important;
  color: white;
  font-size: 20px;
}
#section2 {
  background-color: black !important;
  font-family: 'Arimo', sans-serif;
}
#section2 .work {
  top: 0px;
  color: white;
  max-width: 30%;
  min-width: 325px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  padding-top: 0;
}

#section2 h1 {
  padding-top: 20px;
  margin-top: 0px;
  border-top: 2px solid white;
}

.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;

  display: inline-block;
}

.redcircle {
  background-color: red;
}

.yellowcircle {
  background-color: rgb(246, 255, 0);
  color: black;
}

.circleletter {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-weight: bold;
  font-size: 32px;
}

.work {
  position: relative;
  top: 50px;
}
#section3 h2 {
  margin-bottom: 0;
}
#section3 p {
  margin-top: 0;
}

#atl-logo {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}
#slide1 h2 {
  color: #2684ff;
}
#slide2 h2 {
  color: #6dc926;
}
#slide2 h2 {
  margin-top: 20px;
}
#ezoic {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  /* padding-bottom: 40px; */
  max-width: 200px;
  /* max-height: 0px; */
}
#ezoic h1 {
  margin: 0;
}
#ezoic-logo {
  max-width: 50px;
  width: 100%;
}
#gm {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  /* padding-bottom: 50px; */
  max-width: 400px;
  max-height: 90px;
}
#gm-logo {
  max-width: 50px;
  width: 100%;
  margin-right: 5px;
}
#slide3 h2 {
  color: #06c6d8;
  margin-top: 12px;
}
#slide3 p {
  padding-bottom: 20px;
}
.fp-arrow.fp-prev {
  border-width: 20px 18px 20px 0;
}

.fp-arrow.fp-next {
  border-width: 20px 0 20px 18px;
}
#wrapper3 {
  position: relative;
  top: -20px;
}
.tools {
  margin-top: 50px;
}
.tools svg {
  max-width: 75px;
  max-height: 75px;
  width: 100%;
}
/* #slide1 {
  text-align: center;
} */

.fp-controlArrow.fp-next {
  padding-right: 40px;
}

@media (max-width: 1250px) {
  #summary {
    flex-direction: column;
    min-width: 0px;
  }
  #nameDiv {
    margin-top: 0;
  }
  .sum p {
    margin-top: 0;
    margin-bottom: 40px;
    max-width: 250px;
    margin: 0 auto;
  }
  #seattle {
    max-height: 175px;
    max-width: 150px;
  }

  #college {
    max-height: 175px;
    max-width: 150px;
  }

  #experience {
    max-height: 175px;
    max-width: 150px;
  }
  .fp-arrow {
    visibility: hidden;
  }
  #atl-logo {
    max-width: 275px;
  }
  #ezoic {
    top: 60px;
  }
  #gm {
    font-size: 14px;
    /* padding-bottom: 70px; */
    top: 80px;
  }
  #wrapper3 {
    position: relative;
    top: -5px;
  }
  #navbar {
    margin-top: 10px;
  }
  #section2 h1 {
    font-size: 24px;
  }
  #section2 h2 {
    font-size: 20px;
  }
  .links {
    max-width: 30px;
    max-height: 30px;
  }
  #github {
    padding-right: 10px;
  }
  #linkedin {
    padding-left: 10px;
  }
}
